* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.125rem;
    background-color: rgb(25, 162, 174);
    color: rgb(45, 50, 72);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-top {
    position: fixed;
    bottom: 40%;
    right: 52%;
    z-index: -2;
}

.bg-bottom {
    position: fixed;
    top: 50%;
    left: 52%;
    z-index: -2;
}

.card-container {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.card-header-bg {
    max-width: 100%;
    border-radius: 12px 12px 0 0;
}

.round-border {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.profile-picture {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 55px;
}

.profile-details {
    position: relative;
    bottom: 30px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 1.25em;
}

.name {
    font-weight: 700;
    text-align: center;
}

.age {
    font-weight: 400;
    color: rgb(106, 111, 129);
}

.location {
    font-size: 0.85rem;
    text-align: center;
    margin-top: 0.75em;
    color: rgb(106, 111, 129);
}

.profile-stats {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
}

.profile-stat {
    text-align: center;
    margin: 0 1.5em;
}

.value {
    font-weight: 700;
}

.title {
    font-size: 0.6rem;
    color: rgb(106, 111, 129);
    letter-spacing: 1px;
    margin-top: 0.65em;
}
